.wbdv-sticky-nav-bar {
  background-color:CornflowerBlue;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  padding-top: 100px;
}

@media only screen and (max-width: 768px) {
  td:nth-child(2) {
    display:none;
  }

  td:nth-child(3) {
    display:none;
  }

}
